OpenCC
Pillow
Pyrogram
TgCrypto
youtube_dl
requests
youtube_search
aiohttp
aiofiles
ffmpeg 
fontconfig 
freetype 
fribidi 
giflib
harfbuzz
imlib2 
libandroid-shmem 
libarchive
libass 
libcaca 
libdav1d 
libflac 
libgraphite
libice 
libid3tag 
libjpeg-turbo 
libltdl
liblua52 
libmp3lame 
libogg 
libopus 
libpng
libsm 
libsndfile 
libsoxr 
libtiff 
libuuid
libvidstab 
libvorbis 
libvpx 
libwebp
libwebrtc-audio-processing 
libx11 
libx264
libx265 
libxau 
libxcb 
libxdmcp 
libxext
libxml2 
libxmu 
libxt 
openal-soft 
pulseaudio
speexdsp 
ttf-dejavu 
xorg-xauth 
xvidcore
mpv
